@font-face {
  font-family: "headingnow";
  src: url("./fonts/HeadingNow-62Light.woff") format("woff"),
    url("./fonts/HeadingNow-62Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "headingnow";
  src: url("./fonts/HeadingNow-64Regular.woff") format("woff"),
    url("./fonts/HeadingNow-64Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "headingnow";
  src: url("./fonts/HeadingNow-65Medium.woff") format("woff"),
    url("./fonts/HeadingNow-65Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: "headingnow";
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  border-color: #ffb12b !important;
  box-shadow: none !important;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

textarea {
  resize: none;
  overflow: hidden;
  min-height: 50px;
  max-height: auto;
}

.navv {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

::placeholder {
  font-size: 14px;
  color: #adacad !important;
}

/* placeholder text style */
input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  font-size: 14px !important;
}

#rndlg {
  width: calc(130% / 3);
}

.ref {
  margin-top: 50px;
  margin-bottom: 70px;
  background-color: #ffc54800;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.ref ul {
  display: flex;
  padding-left: 0px;
}

.ref ul li {
  list-style: none;
  margin-right: 15px;
  margin-left: 15px;
}

.ref ul li a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#status {
  width: 500px;
  margin-top: 80px;
}

#statustxt {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}

#logo {
  width: 650px;
  margin-bottom: -210px;
  margin-top: 50px;
}

#fall {
  width: 600px;
}

#note {
  font-weight: 400;
  color: #a456cf;
  font-size: 20px;
}

#please {
  width: 560px;
  text-align: center;
  font-weight: 400;
  margin-top: -10px;
  font-size: 15px;
}

.all {
  margin: auto;
  max-width: 90vw;
  width: 640px;
}

.form {
}

h2 {
  font-weight: 700;
  font-size: 26px;
}

label {
  color: #5d5d5d;
}

label span {
  color: #ffc448;
}

input,
textarea {
  border-color: #adacad !important;
}
/* 
input:focus,textarea:focus{
    box-shadow:  0 0px 2px #FFC448, 0 0px 2px #FFC448 !important;

} */

/*input::-webkit-calendar-picker-indicator{
    display: none;
}*/

input[type="radio"] {
  border-color: #5d5d5d !important;
}

input[type="radio"]:focus,
input[type="radio"]:active {
  border-color: #ffc448 !important;
}

.form-check-input:checked {
  background-color: #ffc448;
}

.skill {
  width: calc(100% / 3);
  margin-bottom: 20px;
}

.allskills {
  display: flex;
  flex-wrap: wrap;
}

.form-check-label {
  font-weight: 400;
  margin-left: 7px;
}

.form-label {
  margin-bottom: 12px !important;
}

.form-control {
  margin-bottom: 30px;
}

button {
  width: 150px;
  background-color: #ffb641 !important;
  color: white !important;
}

.button,
.btn {
  text-align: center;
  /* margin-top: 50px; */
  margin-bottom: 40px;
  font-weight: 500 !important;
  font-size: 18px;
}

.btn {
  letter-spacing: 1px;
}

.bott {
  /* margin-top: 60px; */
}

.bott p {
  font-weight: 400;
  font-size: 16px;
  color: #5d5d5d;
}

.social {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.social img {
  max-width: 60px;
  margin-right: 7px;
  margin-left: 7px;
}

#main-sponsor{
  max-width: 90px;
  margin-bottom: -10px;
}

.steps {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 5.5em;
  margin-top: 48px;
  margin-bottom: 48px;
}

.steps-phase {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.steps-phase-active .steps-phase-num {
  color: #a456cf;
  background-color: #efd9ff;
}

.steps-phase-active .steps-phase-title {
  color: #a456cf;
}

.steps-phase-num {
  height: 30px;
  width: 30px;
  background-color: #d9d9d9;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: #848484;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps-phase-title {
  font-size: 12px;
  line-height: 14px;
}

.bar {
  background-color: #a456cf;
  width: 100%;
  height: 30px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar p {
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.8px;
  margin: 0px !important;
}

.year {
  margin-left: 10px;
}

@media (max-width: 575px) {
  .button,
  .btn {
    margin-bottom: 30px;
  }

  .bott p{
    font-size: 14px;
  }

  .social img {
    max-width: 45px;
    margin-right: 7px;
    margin-left: 7px;
  }

  #main-sponsor{
    max-width: 70px;
    margin-bottom: -20px;

  }
  

  .bar p {
    letter-spacing: 0px;
  }
  .steps {
    margin-top: 40px;
    gap: 1em;
    margin-bottom: 28px;
  }
  #note {
    font-size: 16px;
  }

  .bott {
    /* margin-top: 100px; */
  }

  #please {
    width: 320px;
    font-size: 12px;
  }

  .ref {
    margin-bottom: 0px;
  }

  #ill {
    width: 335px;
    margin-bottom: -30;
  }

  #logo {
    width: 100%;
    margin-bottom: -120px;
  }

  h2 {
    font-size: 20px;
    margin-left: 20px;
  }

  .form {
    /* padding-top: 1.5rem !important; */
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .form-label {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    margin-left: -10px !important;
  }

  .form-label-without {
    margin-left: 0px !important;
  }
  .year {
    width: 40%;
    margin-left: 10px;
    /* margin-bottom: 50px !important; */
  }

  .form-check {
    margin-bottom: 15px;
  }

  .form-check-label {
    margin-left: 0px;
    margin-right: 0px;
  }

  .skill {
    width: calc(100% / 2) !important;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
  }

  br {
    display: block !important;
  }

  #rndlg {
    width: calc(80% / 2);
  }

  #rndsm {
    display: block !important;
  }

  #rate {
    max-width: 100% !important;
  }

  .ref ul li a {
    font-size: 13px;
  }

  #status {
    width: 300px;
    margin-top: 85px;
  }

  #statustxt {
    margin-top: 61px;
    font-size: 16px;
  }

  #btn {
    margin-top: 30px;
  }

  ::placeholder {
    font-size: 12px;
  }
}

.hidden {
  display: none;
}

body {
  /* background-image: url(../assets/bg.jpg); */
  position: relative;
  overflow-x: hidden;
  background-color: #ffffff;
}
